.jumbotron {
    margin-bottom: 0px;
    background-image: url(jumbotron-img.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 750px;
}

.jumbotron h1 {
  color: #0d09e1;
}

.jumbotron p {
  color: #2724ff;
}

.navbar {
  background-color: rgba(255, 255, 255, 1);
  min-height: 60px;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-brand {
  margin-top: -5px;
}

.nav > li {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: inherit;
    color: #083872;
}

.title {
  margin-top: 100px;
}
