
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  margin-top: 10px;
  font-size: 30px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 16px;
}

a:hover {
  text-decoration: none;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(jumbotron-img.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 750px;
    font-family: 'Rubik', sans-serif;
}

.jumbotron h1 {
  font-weight: 900;
  font-size: 90px;
  color: #0d09e1;
}

@media screen and (max-width: 380px) {
  .jumbotron h1 {
    font-size: 70px;
  }
}

.jumbotron p {
  font-size: 28px;
  color: #2724ff;
}

.navbar {
  background-color: rgba(255, 255, 255, .95);
  min-height: 60px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

.navbar-toggle {
  margin-top: 12px;
}

.navbar-right {
  margin-right: 10px;
}

.navbar-brand {
  margin-top: -5px;
}

.nav > li {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: inherit;
    color: #083872;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: inherit;
}

.title {
  margin-top: 100px;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.curr-app-advert {
  background-color: #80f7f3;
}

.curr-app-advert h1 {
  margin-bottom: 20px;
}

.turn-idea-app {
  background-color: #efefef;
}

.turn-idea-app h2 {
  margin-top: 0px;
}

.turn-idea-app p {
  font-size: 18px;
}

.contact {
  background-color: #001ee0;
  color: white;
}

.footer {
  background-color: #739ac6;
}

.footer-custom {
  margin-top: 20px;
  margin-bottom: 10px;
}
