
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  margin-top: 10px;
  font-size: 30px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 16px;
}

a:hover {
  text-decoration: none;
}

.tab1 {
  padding-left: 4em;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/jumbotron-img.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 500px;
    font-family: 'Rubik', sans-serif;
}

.jumbo-large {
  min-height: 750px;
}

@media screen and (max-width: 380px) {
  .jumbotron {
    min-height: 500px;
  }
}

.jumbotron h1 {
  font-weight: 900;
  font-size: 15vmin;
  color: #0d09e1;
  color: navy;
  text-shadow: 3px 3px black;
}

@media screen and (max-width: 500px) {
  .jumbotron h1 {
    font-size: 70px;
  }
}

.jumbotron p {
  font-size: 28px;
  color: darkblue;
}

.navbar {
  background-color: rgba(255, 255, 255, .95);
  min-height: 60px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

.navbar-toggle {
  margin-top: 12px;
}

.navbar-right {
  margin-right: 10px;
}

.navbar-brand {
  margin-top: -5px;
}

.nav > li {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: inherit;
    color: #083872;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: inherit;
}

.title {
  margin-top: 100px;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.curr-app-advert {
  background-color: #80f7f3;
}

.curr-app-advert h1 {
  margin-bottom: 20px;
}

.about-blurb {
  /* Background pattern from Subtle Patterns */
  background-image: url(../images/dark-triangles.png);
  color: white;
}

.about-blurb p {
  font-size: 20px;
  text-align: justify;
}

@media screen and (max-width: 380px) {
  .about-blurb p {
    text-align: left;
    font-size: 17px;
  }
}

.box-border {
  background-color: rgba(255, 255, 255, .15);
  box-shadow: 2px 3px 12px black;
}

.padding {
  margin-left: 40px;
  margin-right: 40px;
}

.careers {
  /* Background pattern from Subtle Patterns */
  background-image: url(../images/triangular.png);
}

.careers p {
  font-size: 20px;
  text-align: justify;
}

@media screen and (max-width: 380px) {
  .careers p {
    text-align: left;
    font-size: 17px;
  }
}

.news-sidebar {
  background-color: #f4f4f4;
}

.article h2 {
  color: navy;
  text-shadow: 1px 1px black;
}

@media screen and (max-width: 380px) {
  .article h2 {
    font-size: 40px;
  }
}

.article p {
  font-size: 18px;
  line-height: 175%;
}

.turn-idea-app {
  background-color: #efefef;
}

.turn-idea-app h2 {
  margin-top: 0px;
}

.turn-idea-app p {
  font-size: 18px;
}

.mission {
  background-color: #c6e48b;
}

.mission h1 {
  font-size: 26px;
  line-height: 35px;
}

.serv1 {
  background-color: #E8E5D9;
}

.serv2 {
  background-color: #cc3300;
  color: white;
}

.serv3 {
  background-color: #ffa64d;
}

.services h1 {
  line-height: 175%;
}

.services p {
  font-size: 18px;
}

.privacy h2 {
  color: navy;
  font-size: 24px;
}

.contact {
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #20394f, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #20394f, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.contact a {
  color: #74acdc;
}

.contact a:hover {
  color: #4985b9;
}

.footer {
  background-color: #739ac6;
  box-shadow: 0 0 .5em #739ac6;
}

.footer-custom {
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-custom a {
  color: #1d64a2;
}

.footer-custom a:hover {
  color: #0e528e;
}

@media screen and (max-width: 768px) {
  .footer-custom p {
    text-align: center;
  }
}

@media screen and (min-width: 500px) {
  .vertical-align {
    display: flex;
    flex-direction: row;
  }
}

.inline-pic {
display: flex;
align-items: center;
}

.revealOnScroll { opacity: 0; }

/* ----------------------------------------------
 * Generated by Animista
 * ---------------------------------------------- */
.slide-in-right {
	animation: slide-in-right 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.slide-in-left {
	animation: slide-in-left 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
